
link(rel='stylesheet' href=base_url+'/css/style.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400|Share+Tech|Open+Sans')

#header
  #header-content
    #menu-intro
        a(href=base_url + '/') Arrp
        |  = [

    ul(id='menu')
      li
        | 0 &#8594
        |
        a(href=base_url + '/') Try
        | ;
      li
        | 1 &#8594
        |
        a(href=base_url+'/doc') Documentation
        | ;
      li
        | 2 &#8594
        |
        a(href=base_url+'/research') Research
        | ;

    #menu-outro: | ]

#page
  #page-content
    block content
